body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: var(--bg-color, #f4f4f9);
    margin: 0;
    padding: 0;
    color: var(--text-color, #000);
}

.container {
    margin: 50px auto;
    width: 90%;
    max-width: 500px;
    background: var(--card-bg-color, #fff);
    padding: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: var(--button-bg-color, #007bff);
    color: var(--button-text-color, #fff);
    border: none;
    border-radius: 5px;
}

button:active {
    background-color: var(--button-active-bg-color, #0056b3);
}

/* Нижняя панель навигации */
.bottom-nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: var(--nav-bg-color, #1e1e2f);
    box-shadow: 0px -2px 6px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}

.nav-item {
    text-align: center;
    color: var(--nav-text-color, #ccc);
    font-size: 14px;
    text-decoration: none;
}
