/* Общий стиль */
body {
    font-family: Arial, sans-serif;
    background-color: #1e1e2f;
    color: white;
    margin: 0;
    padding: 0;
    text-align: center;
}

/* Панель контента */
.container {
    padding: 20px;
}

.panel {
    display: none; /* Панели скрыты по умолчанию */
    padding: 20px;
    background: #333;
    border-radius: 10px;
    margin: 20px auto;
    max-width: 90%;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

/* Навигационная панель */
.bottom-nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #29293d;
    display: flex;
    justify-content: space-around; /* Равномерное распределение пространства между кнопками */
    padding: 10px 0; /* Добавим отступы по бокам */
    box-shadow: 0px -2px 6px rgba(0, 0, 0, 0.2);
    box-sizing: border-box; /* Это гарантирует правильные размеры с учетом padding */
}

/* Стили для кнопок навигации */
.nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: none;
    border: none;
    outline: none; /* Убираем выделение на кнопке */
    color: white;
    font-size: 12px; /* Меньший размер текста */
    cursor: pointer;
    padding: 5px;
    width: 20%; /* Устанавливаем фиксированную ширину для каждой кнопки */
    max-width: 120px; /* Ограничиваем максимальную ширину кнопки */
}

.nav-item img {
    width: 32px; /* Увеличиваем размер иконки */
    height: 32px;
    margin-bottom: 5px;
    transition: filter 0.3s ease; /* Для плавного изменения цвета иконки */
}

.nav-item span {
    font-size: 10px; /* Меньший размер текста */
    text-align: center;
    transition: color 0.3s ease; /* Для плавного изменения цвета текста */
}

/* Изменение цвета текста и иконки при активации */
.nav-item.active img {
    filter: brightness(0) saturate(100%) invert(20%) sepia(70%) saturate(500%) hue-rotate(180deg); /* Цвет иконки */
}

.nav-item.active span {
    color: #25EFF4; /* Цвет для текста */
}

/* При фокусе кнопки */
.nav-item:focus {
    outline: none; /* Убираем обводку при фокусе */
}

/* При активном состоянии кнопки */
.nav-item:active {
    outline: none; /* Убираем выделение при активном состоянии */
}

/* Активная панель */
.panel.active {
    display: block; /* Отображается только активная панель */
}
